* {
  margin   : 0;
  padding  : 0;
}

#xmms_returns span {
    display: block;
}

.hidden {
    display: none;
}

.highlight {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}
