* {
  margin   : 0;
  padding  : 0;
}

#xmms_returns span {
    display: block;
}

.hidden {
    display: none;
}

.highlight {
    background-color: #FFFFCC;
}

.playlist_item_title {
    width: 10px;
    background-color: #FF0000;
}
