#library_header {
    margin-left: 1.5em;
    float: left;
}

#library_header h2 {
    display: inline; 
    float: left;
}

#theme_roller_link, #popout_library_link {
    float: left;
    position: relative;
    top: 8px;
}

#theme_roller {
    margin: 10px 12px 0;
}

#library_header a {
    font-size: 0.8em;
    margin-left: 0.5em;
}

#library_upload {
    float: right;
    margin-right: 10px;
}

#library_upload a {
}

#library_upload_form {
    width: 400px;
    margin: auto;
}

#library_upload_form_dialog {
    padding-top: 20px;
}

#library_upload_form_dialog #id_file {
    color: white;
    background-color: black;
    border: 0 none;
}

#library_upload_form h2{
    font-size: 1.2em;
    text-align: center;
    margin-top: 30px;
}

#library_upload_form h3{
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 20px;
}

#library_edit_form {
    width: 400px;
    margin: auto;
}

#library_edit_form h2 {
    font-size: 1.2em;
    text-align: center;
}

#library_edit_form h3 {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 20px;
}

#library_edit_form div {
    clear: both;
}

#library_edit_form label {
    float: left;
}

#library_edit_form input {
    float: right;
    width: 300px;
}

#library_edit_form div.submit input {
    margin-top: 2px;
    width: 100px;
}

.library_item span a {
    display: inline-block;
    position: relative;
}

.library_item_add a {
    top: 2px;
}

.library_item_edit a {
    margin-left: -4px;
    top: 2px;
}

.library_item_download a {
    margin-left: -4px;
    top: 3px;
}

#song_library {
    margin-top: 30px;
    padding: 10px;
}

#song_library .spacer {
    height: 12px;
}

.clearboth {
    clear: both;
}
