#library_header {
    margin-top: 1.5em;
}

#library_header h2 {
    display: inline; 
}

#library_header a {
    font-size: 0.8em;
    margin-left: 0.5em;
}

#library_upload_form {
    padding: 0.5em;
}

.library_item_add a img, .library_item_edit a img {
    border-style: none;
    border-width:  0;
}

.library_item:hover {
    background-color: #ffd;
}
