#main_content {
    width: 800px;
    margin: auto;
}

body {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  /* background: url('/xd/media/img/background.png'); */
  /* color: white; */
}

.clear_both {
    clear: both;
}

.player_element {
    border: solid 2px white;
    background: #7b8287 url('/xd/media/img/player/background.png') repeat-x bottom left;
}

#fancy_inner #fancy_bg {
    border: solid 2px white;
    background: #7b8287 url('/xd/media/img/player/background.png') repeat-x bottom left;
}
