#main_content {
    width: 800px;
    margin: auto;
}

body {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  background: url('/xd/media/img/background.png');
  color: white;
}

.clear_both {
    clear: both;
}
