#main_content {
    width: 800px;
    margin: auto;
}

body {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}

.clear_both {
    clear: both;
}

#theme_roller {
    display: none;
}
