* {
  margin   : 0;
  padding  : 0;
}

#xmms_player {
    margin-top: 30px;
    height: 109px;
}

#xmms_player div#xmms_seek {
    clear: both;
    width: 500px;
    margin: 10px auto;
}

#xmms_player div#xmms_seek img#seek_bar {
    width: 100%;
    height: 3px;
    z-index: 0;
    float: left;
}

#xmms_player div#xmms_seek img#seek_head {
    float: left;
    z-index: 1;
    display: inline;
    position: relative;
    bottom: 6px;
}

#xmms_player a {
}

#xmms_player div#xmms_actions {
    text-align: center;
    margin-top: 7px;
}

#xmms_actions a {
    display: inline-block;
    /* float: left; */
}

#xmms_player div.hidden {
    display: none;
}

#xmms_player div#xmms_returns {
    text-align: center;
    margin: auto;
    color: white;
}

#xmms_player div#xmms_returns span {
    display: inline;
    margin-left: 10px;
}

#xmms_returns span {
    display: block;
}

.hidden {
    display: none;
}

.highlight {
    background-color: #555;
    /* font-weight: bold; */
    /* font-size: 1.2em; */
}

.playlist_item_delete a {
    display: inline-block;
    margin-top: 1px;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

.highlight a {
    margin-top: 2px;
}

#playlist {
    margin-top: 30px;
    padding: 10px;
    color: white;
}

#xmms_seek {
    height: 5px;
}

#xmms_seek a {
    height: 10px;
}
