* {
  margin   : 0;
  padding  : 0;
}

#xmms_player {
    background: url('/xd/media/img/player/background.png');
    height: 109px;
}

#xmms_player div#xmms_seek {
    clear: both;
    width: 500px;
    margin: 10px auto;
}

#xmms_player div#xmms_seek img#seek_bar {
    width: 100%;
    height: 3px;
    z-index: 0;
    float: left;
}

#xmms_player div#xmms_seek img#seek_head {
    float: left;
    z-index: 1;
    display: inline;
    position: relative;
    bottom: 6px;
}

#xmms_player a {
    color: white;
}

#xmms_player div#xmms_actions {
    text-align: center;
}

#xmms_player div.action {
    display: inline;
}

#xmms_player div.hidden {
    display: none;
}

#xmms_player div#xmms_returns {
    text-align: center;
    margin: auto;
    color: white;
}

#xmms_player div#xmms_returns span {
    display: inline;
    margin-left: 10px;
}

#xmms_returns span {
    display: block;
}

.hidden {
    display: none;
}

.highlight {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.playlist_item_delete a {
    /* border-style: none; */
    /* border-width:  0; */
    float: left;
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 1px;
    margin-right: 3px;
    background-image: url('/xd/media/img/icons/delete/5.png');
}

.highlight a {
    margin-top: 4px;
}
