<div id="xmms_player" class="player_element ui-widget-header" >
    <div class="vertical_space">&nbsp;
    </div>
    <div id="xmms_returns">
        <span id="current_info">
            {{ player.current_song.name }} -
            {{ player.current_song.artist }} -
            {{ player.current_song.album }}
        </span>
    </div>

    <div id="xmms_seek">
    </div>

    <div class="clear_both"></div>

    <div id="xmms_actions">
        <a href="/player/action/previous/" class="ui-icon ui-icon-seek-prev"></a>
        <a href="/player/action/play/" class="ui-icon ui-icon-play"></a>
        <a href="/player/action/pause/" class="ui-icon ui-icon-pause"></a>
        <a href="/player/action/stop/" class="ui-icon ui-icon-stop"></a>
        <a href="/player/action/next/" class="ui-icon ui-icon-seek-next"></a>
    </div>
</div>

<div id="playlist" class="player_element ui-widget-content">
{% include "player/playlist.html" %}
</div>
