<div id="xmms_player" class="player_element" >
    <div class="vertical_space">&nbsp;
    </div>
    <div id="xmms_returns">
        <span id="current_info">
            {{ player.current_song.name }} -
            {{ player.current_song.artist }} -
            {{ player.current_song.album }}
        </span>
    </div>

    <div id="xmms_seek">
        <img src="{{ MEDIA_URL }}/img/player/seek_bar.png" alt="seek_bar" id="seek_bar" />
        <img src="{{ MEDIA_URL }}/img/player/seek_head.png" alt="seek_head" id="seek_head"/>
    </div>

    <div class="clear_both"></div>

    <div id="xmms_actions">
        <div id="xmms_previous" class="action">
            <a href="/player/action/previous/"><img src="{{ MEDIA_URL }}/img/player/previous.png" alt="previous" /></a>
        </div>

        <div id="xmms_play" class="action">
            <a href="/player/action/play/"><img src="{{ MEDIA_URL }}/img/player/play.png" alt="play" /></a>
        </div>

        <div id="xmms_pause" class="action">
            <a href="/player/action/pause/"><img src="{{ MEDIA_URL }}/img/player/pause.png" alt="pause" /></a>
        </div>

        <div id="xmms_stop" class="action">
            <a href="/player/action/stop/"><img src="{{ MEDIA_URL }}/img/player/stop.png" alt="stop" /></a>
        </div>

        <div id="xmms_next" class="action">
            <a href="/player/action/next/"><img src="{{ MEDIA_URL }}/img/player/next.png" alt="next" /></a>
        </div>

    </div>
</div>

<div id="playlist" class="player_element">
{% include "player/playlist.html" %}
</div>
