{% for item in player.playlist %}
<div class="playlist_item{% ifequal item.position player.position %} highlight{% endifequal %}">
    <span class="playlist_item_delete"><a href="/player/delete/{{ item.position }}/" class="playlist_item_delete_link"></a></span>
    <span class="playlist_item_position">{{ item.position }}</span>:&nbsp;
    <span class="playlist_item_name">{{ item.name }}</span> -
    <span class="playlist_item_artist">{{ item.artist }}</span> -
    <span class="playlist_item_album">{{ item.album }}</span>
</div>
{% endfor %}
