<div id="xmms_player" class="ui-widget-header ui-corner-all" >
  <div class="vertical_space">&nbsp;
  </div>
  <div id="xmms_returns">
    <span id="current_info">
      {{ player.current_song.name }} -
      {{ player.current_song.artist }} -
      {{ player.current_song.album }}
    </span>
  </div>

  <div id="xmms_seek">
  </div>

  <div class="clear_both"></div>

  <div id="xmms_actions">
    <a href="{% url player.views.run_action action="previous" %}" class="ui-icon ui-icon-seek-prev"></a>
    <a href="{% url player.views.run_action action="play" %}" class="ui-icon ui-icon-play"></a>
    <a href="{% url player.views.run_action action="pause" %}" class="ui-icon ui-icon-pause"></a>
    <a href="{% url player.views.run_action action="stop" %}" class="ui-icon ui-icon-stop"></a>
    <a href="{% url player.views.run_action action="next" %}" class="ui-icon ui-icon-seek-next"></a>
  </div>
</div>
