<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
    
  <head>
    <title>{% block title %}xmms2 player{% endblock %}</title>
      <meta http-equiv="content-type" content="text/html;charset=utf-8" />
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css" />
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/player.css" />
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/library.css" />
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jquery/fancybox/jquery.fancybox-1.2.6.css" />
      <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery-1.3.2{% if not debug %}.min{% endif %}.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery.timers-1.1.3.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery.corner.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/fancybox/jquery.fancybox-1.2.6.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}js/main.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}js/player.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}js/library.js"></script>
      {% block html_head %}
      {% endblock %}
  </head>
  <body{% block body_modifiers %}{% endblock %}>
    {% block html_body %}
    {% endblock %}
  </body>
</html>
