{% extends 'base.html' %}
{% block html_head %}
      <script type="text/javascript" src="{{MEDIA_URL}}js/xmms2.js"></script>
      <script type="text/javascript" src="{{MEDIA_URL}}js/library.js"></script>
{% endblock %}
{% block html_body %}
<div id="xmms_returns">
  <span id="current_name">{{ player.current_song.name }}</span>
  <span id="current_artist">{{ player.current_song.artist }}</span>
  <span id="current_album">{{ player.current_song.album }}</span>
  <span id="current_error">{{ player.current_song.error }}</span>
  <span id="current_status">{{ player.verbose_action }}</span>
</div>


<div id="xmms_pause" class="action{% if not player.is_playing %} hidden {% endif %}">
  <p>
    <a href="/action/pause/">pause</a>
  </p>
</div>

<div id="xmms_play" class="action{% if player.is_playing %} hidden {% endif %}">
  <p>
    <a href="/action/play/">play</a>
  </p>
</div>

<div id="xmms_previous" class="action">
  <p>
    <a href="/action/previous/">previous</a>
  </p>
</div>

<div id="xmms_next" class="action">
  <p>
    <a href="/action/next/">next</a>
  </p>
</div>

<div id="xmms_stop" class="action">
  <p>
    <a href="/action/stop/">stop</a>
  </p>
</div>

<div id="playlist">
    {% include "playlist.html" %}
</div>
<div id="song_library">
    {% include "library.html" %}
</div>
{% endblock %}
